*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }
ul {
    list-style: none;
  }

body {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  width: 100%;
}  
body h2 {
  font-size: 35px;
  font-family: 'Lato', sans-serif ;
  font-style: normal;
}
.corra {
    background-image: url('../img/Corra.png') ;
    width: 100%;
    color: white;
    font-size: 60px;
    font-weight: 600;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 20px;
    height: 520px;
}

.header {
 display: inline-block;
 display: flex;
 width: 100%;
}
.header h1 {
  font-size: 18px;
  display: inline-block;
  line-height: 50px;
  font-style: normal;
  font-weight: bold;
  position: relative;
  top: 7px;
  left: 50px;
}
.header li {
  margin-left: 10px;
  display: inline-block;
  font-size: 18px;
  line-height: 28px;
}
.header a {
  text-decoration: none;
  color: black;
}
.nav {
  position: relative;
  left: 317px;
  top: 7px;
}
.div-lupa {
    position: relative;
    background: #F2F2F2;
    border-radius: 50px;
    height: 29px;
    left: 403px;
    top: 6px;
    width: 221px;
}
.pesquisa {
  display: inline-block;
  background: #F2F2F2;
  border-radius: 50px;
  width: 175px;
  height: 20px;
  position: relative;
  left: 12px;
  top: 0px;
  text-align: center;
  border : 1px;
}
.lupa {
  position: relative;
  left: 14px;
  top: 6px;
}
.compra {
  position: relative;
  left: 9px;
  top: 8px;
}
.div-compra { 
  display: inline-block;
  background: #F2F2F2;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  position: relative;
  left: 257px;
  top: -28px;
}
.section-1 {
  display: inline-block;
  width: 100%;
}
.section-1 div {
  display: inline-block;
}
.section-1 h2 {
  font-size: 84px;
  margin-bottom: 15px;
  background: -webkit-linear-gradient(178deg, #DADADA 20.97%, #9F9F9F 99.92%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.p-1 {
  line-height: 24px;
  font-size: 15px;
  font-style: normal;
}
.section-1 button {
  background-color: white;
  border-radius: 8px;
  margin-top: 20px;
  height: 46px;
  width: 200px;
  align-items: center;
  position: relative;
  top: 40px;
}
.div-img1 {
  width: 390px;
  height: 390px;
  border-radius: 50%;
  background-image: linear-gradient(247deg, #ffff 20.97%, #f3f3f3 99.92%);
  position: relative;
  left: 83px;
  top: -4px;
  margin-top: 40px;
  margin-bottom: 60px;
}
.imagem-1 {
  width: 680px;
  height: 390px;
  position: absolute;
  left: -178px;
}
.div-texto1 {
  vertical-align: top;
  width: 50%;
  position: relative;
  left: 15px;
  margin-top: 40px;
  margin-left: 30px;
}
.aside {
  display: block;
  margin-bottom: 30px;
  text-align: center;
  height: 550px;
  background: #F3F3F3;
  border-radius: 8px;
  width: 90%;
  position: relative;
  left: 71px;
  margin-top: 30px;
}
.h2-corrida {
  position: relative;
  top: 35px;
  font-size: 30px;
  font-weight: bold;
}
.image-2 {
  position: absolute;
  left: 368px;
  bottom: 174px;
}
.aside li {
  display: inline-block;
  align-items: center;
}
.div-ul1{
  position: relative;
  top: 71px;
}
.span-aside {
  position: relative;
  top: 340px;
  font-size: 15px;
  font-weight: bold;
}
.ellipse {
  position: absolute;
  left: 476px;
  bottom: 187px;
  background: #B7B7B7;
  border-radius: 50%;
  height: 10px;
  width: 259px;
  opacity: 0.2;
  filter: blur(4px);
} 
.div-butt1 {
  position: relative;
  top: 375px;
}
.button-tenis {
  height: 50px;
  width: 230px;
  border-radius: 12px;
  box-sizing: border-box;
  border: 2px solid #1f1F1F;
  background: #f3f3f3;
}
.section-2  div {
  display: inline-block;
  width: 40%;
}
.section-2 {
  display: inline-block;
  margin-bottom: 30px;
  margin-top: 30px;
} 
.section-3{
  display: inline-block;
  margin-bottom: 30px;
  margin-bottom: 30px;
}
.div-texto2 {
  vertical-align: top;
  display: inline-block;
  width: 40%;
  position: relative;
  left: 75px;
  top: 24px;
}
.p-leveza {
  line-height: 25px;
}
.h2-agilidade {
  margin-bottom: 35px;
  font-size: 45px;
  background: -webkit-linear-gradient(178deg, #DADADA 20.97%, #9F9F9F 99.92%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.div-img2 {
  display: inline-block;
  width: 40%;
}
.image-3 {
  width: 530px;
  height: 400px;
  position: relative;
  left: 211px;
}
.div-img3 {
  display: inline-block;
  width: 40%;
  position: relative;
  left: 60px;
}
.div-texto3 {
  vertical-align: top;
  display: inline-block;
  width: 34%;
  position: relative;
  left: 245px;
}
.h2-amortecimento {
  font-size: 45px;
  margin-bottom: 30px;
  background: -webkit-linear-gradient(178deg, #DADADA 20.97%, #9F9F9F 99.92%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.p-imediato {
  line-height: 24px;
}
.section-4 {
  margin-bottom: 90px;
  margin-top: 30px;
}
.image-4{
  width: 444px;
  height: 400px;
}
.div-img4 {
  display: inline-block;
  position: relative;
  left: 150px;
}
.img-estabilidade {
  width: 627px;
  height: 450px;
}
.div-texto4 {
  vertical-align: top;
  display: inline-block;
  width: 37%;
  position: relative;
  left: 60px;
}
.h2-estabilização {
  margin-bottom: 30px;
  font-size: 45px;
  background: -webkit-linear-gradient(178deg, #DADADA 20.97%, #9F9F9F 99.92%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.p-estabilização {
  line-height: 24px;
}
.section-5 {
display: flex;
margin-bottom: 30px;
margin-top: 60px;
}
.div-img5 {
  display: inline-block ;
  width: 55%;
}
.image-6 {
  display: flex;
  width: 833px;
  height: 641px;
  border-radius: 8px 0px 0px 8px;
  position: relative;
  left: 49px;
}
.div-form {
  display: inline-block;
  background: #F3F3F3; 
  width: 427px;
  height: 638px;
  position: relative;
  left: 140px;
}
.ajuste-form {
  background: #F3F3F3;  
  text-align:center;
  width: 427px;
  height: 592px;
  border-radius: 0px 8px 8px 0px;
  border: 1px ;
}
.span-form {
  color: gray ;
  font-size: 14px;
}
.custom-input {
  background: #FFFFFF;
  border-radius: 12px;
  font-size: 18px;
  width: 90%;
  height: 50px;
  margin-top: 25px;
  align-items: center;
  border:0px ;
} 
.custom-textarea {
  font-size: 18px;
  background: #FFFFFF;
  border-radius: 12px;
  width: 90%;
  margin-top: 25px;
  height: 260px;
  margin-bottom: 15px ;
  border: 0px;

}
.botao-form {
  height: 50px;
  width: 90%;
  border: 2px solid #1F1F1F;
  box-sizing: border-box;
  border-radius: 12px;
  margin-top: 15px;
  position: relative;
  top: 15px;
  background: #F3F3F3;
}
.h3-custom {
  margin-top: 10px;
  font-size: 25px;
  margin-bottom: 10px;
  color: black; 
  text-align: center;
  position: relative;
  top: 11px;
  right: 90px;
}
.footer {
  display: inline-block;
  width: 100%;
  background: #F3F3F3;
  height: 200px;
}
.footer h1 {
  display: inline-block;
  width: 10%;
  vertical-align: top;
  font-size: 16px;
  position: relative;
  left: 50px;
  top: 25px;
}
.div-ul {
  display: inline-block;
  line-height: 22px;
}
.ul1{
  display: inline-block;
  position: relative;
  left: 200px;
  top: 25px;
}
.ul2 {
  display: inline-block;
  vertical-align: top;
  position: relative;
  left: 275px;
  top: 25px;
}
.ul3 {
  display: inline-block;
  vertical-align: top;
  position: relative;
  left: 370px;
  top: 25px;
}
.footer a {
  text-decoration: none;
  color: black;
  font-size: 12px;
}
.li-rede {
  display: inline-block;
}
.mentorama {
    text-align: center;
    position: relative;
    top: 53px;
    background: #F2F2F2;
  } 
.mentoramalogo {
    font-size: 12px;
    font-weight: bold;
  }
.mentorama2 {
 font-size: 16px;
 font-weight: 900;
  }